<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="query">

	<resultMap type="com.common.dao.LoginInfo"
		id="LoginInfoResult">
		<result column="ID" property="id" />
		<result column="PASSWORD" property="password" />
		<result column="NAME" property="name" />
		<result column="PHONE" property="phone" />
		<result column="TYPE" property="type" />
	</resultMap>

	<!-- 로그인 체크 쿼리 -->
	<select id="loginCheck" resultType="integer"
		parameterType="com.common.dao.LoginInfo">
		select count(*) from tb_account
		<where>
			ID = #{id}
			AND
			PASSWORD = #{password}
		</where>
	</select>

	<!-- 회원가입 쿼리 -->
	<insert id="insertMember"
		parameterType="com.common.dao.LoginInfo">
		insert into tb_account
		(ID, PASSWORD, NAME, TYPE) values (#{id},#{password},#{name},#{type})
	</insert>

	<!-- Select -->
	<select id="totalAccount" resultType="integer">
		SELECT COUNT(*) FROM tb_account
	</select>
</mapper>
